openapi: 3.1.0
info:
  title: DaVita Web REST API (WordPress REST, davita/v1 + dv-* content)
  version: wp-json-index-2026-09-05
  description: 'Public, unauthenticated read API served by DaVita at https://www.davita.com/wp-json/. Derived mechanically
    from the WordPress REST route discovery index that DaVita''s own host publishes at that URL (fetched 2026-09-05, HTTP
    200, self-identifying as name "DaVita", url https://davita.com). Covers DaVita''s first-party davita/v1 namespace (dialysis-center
    locator, Kidney Smart class finder, USDA food/nutrient lookup, video and comment endpoints) and the dv-* custom content
    types (recipes, articles, glossary terms, videos, cookbooks, people, topics). Third-party plugin and WordPress administration
    namespaces present in the same index (jetpack, kadence, akismet, cron-control, yoast, vip, two-factor, wp-site-health,
    wp-block-editor) are deliberately excluded: they are not DaVita''s API surface. DaVita does not publish an OpenAPI definition
    or developer documentation for this surface.'
  contact:
    name: DaVita
    url: https://davita.com/help-center/contact-us/
servers:
- url: https://www.davita.com/wp-json
  description: DaVita WordPress REST API root
tags:
- name: davita-v1
  description: DaVita first-party REST namespace (davita/v1)
- name: wp-v2
  description: WordPress core REST namespace exposing DaVita dv-* content types
components:
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: 'WordPress Application Passwords. Authorization endpoint declared by the index: https://davita.com/wp-admin/authorize-application.php.
        Not offered to the public; write routes are staff-only.'
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie authentication nonce, accepted per the Access-Control-Allow-Headers response header. Browser/session
        only.
  schemas:
    WPRestError:
      type: object
      description: WordPress REST error envelope observed live on this host (not RFC 9457).
      properties:
        code:
          type: string
          examples:
          - rest_no_route
          - rest_invalid_param
          - rest_forbidden
          - dv_token_invalid
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
            details:
              type: object
      required:
      - code
      - message
      - data
paths:
  /davita/v1:
    get:
      operationId: get_davita_v1
      summary: GET /davita/v1
      description: WordPress REST route /davita/v1 (GET), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - davita-v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: davita/v1
      - name: context
        in: query
        required: false
        schema:
          default: view
  /davita/v1/comments/{postid}:
    post:
      operationId: post_davita_v1_comments_postid
      summary: POST /davita/v1/comments/(?P<postid>[\d]+)
      description: WordPress REST route /davita/v1/comments/(?P<postid>[\d]+) (POST), as declared by the route discovery index
        at https://www.davita.com/wp-json/.
      tags:
      - davita-v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: postid
        in: path
        required: true
        description: Post ID
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  description: Page number
      security:
      - applicationPassword: []
      - cookieNonce: []
  /davita/v1/comments/create:
    post:
      operationId: post_davita_v1_comments_create
      summary: POST /davita/v1/comments/create
      description: WordPress REST route /davita/v1/comments/create (POST), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - davita-v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: User token
                content:
                  type: string
                  description: Comment content
                postid:
                  type: integer
                  description: Post ID
                rating:
                  type: integer
                  description: Rating
                title:
                  type: string
                  description: Comment title
                parentid:
                  type: integer
                  description: Parent Comment ID
              required:
              - token
              - content
              - postid
      security:
      - applicationPassword: []
      - cookieNonce: []
  /davita/v1/find-a-center:
    get:
      operationId: get_davita_v1_find_a_center
      summary: GET /davita/v1/find-a-center
      description: WordPress REST route /davita/v1/find-a-center (GET), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - davita-v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: location
        in: query
        required: true
        schema:
          type: string
        description: Location (City, State name or Zip code)
      - name: lat
        in: query
        required: false
        schema:
          type: string
        description: Latitude of the location
      - name: lng
        in: query
        required: false
        schema:
          type: string
        description: Longitude of the location
      - name: modalities
        in: query
        required: false
        schema:
          type: integer
        description: Category of the center
  /davita/v1/find-a-class:
    get:
      operationId: get_davita_v1_find_a_class
      summary: GET /davita/v1/find-a-class
      description: WordPress REST route /davita/v1/find-a-class (GET), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - davita-v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: location
        in: query
        required: false
        schema:
          type: string
        description: Location (State name or Zip code)
      - name: language
        in: query
        required: false
        schema:
          type: integer
        description: Language (English or Spanish)
      - name: sort
        in: query
        required: false
        schema:
          type: integer
        description: Sorting method (Date or Distance)
      - name: classes
        in: query
        required: false
        schema:
          type: integer
        description: Class type (in-person or online)
      - name: days
        in: query
        required: false
        schema:
          type: integer
        description: The day of the class
      - name: time
        in: query
        required: false
        schema:
          type: string
        description: Time of day for the class
  /davita/v1/icons:
    get:
      operationId: get_davita_v1_icons
      summary: GET /davita/v1/icons
      description: WordPress REST route /davita/v1/icons (GET), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - davita-v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: sets-only
        in: query
        required: false
        schema:
          type: boolean
          default: true
  /davita/v1/icons/import:
    get:
      operationId: get_davita_v1_icons_import
      summary: GET /davita/v1/icons/import
      description: WordPress REST route /davita/v1/icons/import (GET), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - davita-v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /davita/v1/icons/list:
    get:
      operationId: get_davita_v1_icons_list
      summary: GET /davita/v1/icons/list
      description: WordPress REST route /davita/v1/icons/list (GET), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - davita-v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /davita/v1/icons/update:
    post:
      operationId: post_davita_v1_icons_update
      summary: POST /davita/v1/icons/update
      description: WordPress REST route /davita/v1/icons/update (POST), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - davita-v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  default: ''
                keywords:
                  type: string
                  default: ''
              required:
              - name
      security:
      - applicationPassword: []
      - cookieNonce: []
  /davita/v1/playlist-details:
    get:
      operationId: get_davita_v1_playlist_details
      summary: GET /davita/v1/playlist-details
      description: WordPress REST route /davita/v1/playlist-details (GET), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - davita-v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /davita/v1/usda/food/{id}:
    get:
      operationId: get_davita_v1_usda_food_id
      summary: GET /davita/v1/usda/food/(?P<id>\d+)
      description: WordPress REST route /davita/v1/usda/food/(?P<id>\d+) (GET), as declared by the route discovery index at
        https://www.davita.com/wp-json/.
      tags:
      - davita-v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Food ID
        schema:
          type: integer
  /davita/v1/usda/search:
    get:
      operationId: get_davita_v1_usda_search
      summary: GET /davita/v1/usda/search
      description: WordPress REST route /davita/v1/usda/search (GET), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - davita-v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: food
        in: query
        required: true
        schema:
          type: string
        description: Search term
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number
  /davita/v1/verify-token:
    post:
      operationId: post_davita_v1_verify_token
      summary: POST /davita/v1/verify-token
      description: WordPress REST route /davita/v1/verify-token (POST), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - davita-v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      security:
      - applicationPassword: []
      - cookieNonce: []
  /davita/v1/video-details:
    get:
      operationId: get_davita_v1_video_details
      summary: GET /davita/v1/video-details
      description: WordPress REST route /davita/v1/video-details (GET), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - davita-v1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
  /wp/v2:
    get:
      operationId: get_wp_v2
      summary: GET /wp/v2
      description: WordPress REST route /wp/v2 (GET), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: namespace
        in: query
        required: false
        schema:
          default: wp/v2
      - name: context
        in: query
        required: false
        schema:
          default: view
  /wp/v2/categories:
    get:
      operationId: get_wp_v2_categories
      summary: GET /wp/v2/categories
      description: WordPress REST route /wp/v2/categories (GET), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: hide_empty
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: post
        in: query
        required: false
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific post.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
    post:
      operationId: post_wp_v2_categories
      summary: POST /wp/v2/categories
      description: WordPress REST route /wp/v2/categories (POST), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
              required:
              - name
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/categories/{id}:
    get:
      operationId: get_wp_v2_categories_id
      summary: GET /wp/v2/categories/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/categories/(?P<id>[\d]+) (GET), as declared by the route discovery index at
        https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the term.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    post:
      operationId: post_wp_v2_categories_id
      summary: POST /wp/v2/categories/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/categories/(?P<id>[\d]+) (POST), as declared by the route discovery index at
        https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the term.
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
      - cookieNonce: []
    put:
      operationId: put_wp_v2_categories_id
      summary: PUT /wp/v2/categories/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/categories/(?P<id>[\d]+) (PUT), as declared by the route discovery index at
        https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the term.
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
      - cookieNonce: []
    patch:
      operationId: patch_wp_v2_categories_id
      summary: PATCH /wp/v2/categories/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/categories/(?P<id>[\d]+) (PATCH), as declared by the route discovery index
        at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the term.
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPassword: []
      - cookieNonce: []
    delete:
      operationId: delete_wp_v2_categories_id
      summary: DELETE /wp/v2/categories/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/categories/(?P<id>[\d]+) (DELETE), as declared by the route discovery index
        at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the term.
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
                  description: Required to be true, as terms do not support trashing.
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/dv-article:
    get:
      operationId: get_wp_v2_dv_article
      summary: GET /wp/v2/dv-article
      description: WordPress REST route /wp/v2/dv-article (GET), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - rand
          - menu_order
          - meta_value
          - meta_value_num
          - rand
          - post__in
          - comment_count
          - name
          default: date
        description: Sort collection by post attribute.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - nab_hidden
            - nab_ready
            - nab_scheduled
            - nab_running
            - nab_paused
            - nab_paused_draft
            - nab_finished
            - spam
            - jp-temp-feedback
            - dp-rewrite-republish
            - any
        description: Limit result set to posts assigned one or more statuses.
      - name: tax_relation
        in: query
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
        description: Limit result set based on relationship between multiple taxonomies.
      - name: categories
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the categories taxonomy.
      - name: categories_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the categories taxonomy.
      - name: tags
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the tags taxonomy.
      - name: tags_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the tags taxonomy.
      - name: dv-topic
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items with specific terms assigned in the dv-topic taxonomy.
      - name: dv-topic_exclude
        in: query
        required: false
        schema:
          type: object
        description: Limit result set to items except those with specific terms assigned in the dv-topic taxonomy.
    post:
      operationId: post_wp_v2_dv_article
      summary: POST /wp/v2/dv-article
      description: WordPress REST route /wp/v2/dv-article (POST), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - nab_hidden
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                categories:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the category taxonomy.
                tags:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the post_tag taxonomy.
                dv-topic:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the dv-topic taxonomy.
                jetpack_sharing_enabled:
                  type: boolean
                  description: Are sharing buttons enabled?
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/dv-article/{id}:
    get:
      operationId: get_wp_v2_dv_article_id
      summary: GET /wp/v2/dv-article/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/dv-article/(?P<id>[\d]+) (GET), as declared by the route discovery index at
        https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
    post:
      operationId: post_wp_v2_dv_article_id
      summary: POST /wp/v2/dv-article/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/dv-article/(?P<id>[\d]+) (POST), as declared by the route discovery index at
        https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: &id001
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - nab_hidden
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                categories:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the category taxonomy.
                tags:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the post_tag taxonomy.
                dv-topic:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the dv-topic taxonomy.
                jetpack_sharing_enabled:
                  type: boolean
                  description: Are sharing buttons enabled?
      security:
      - applicationPassword: []
      - cookieNonce: []
    put:
      operationId: put_wp_v2_dv_article_id
      summary: PUT /wp/v2/dv-article/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/dv-article/(?P<id>[\d]+) (PUT), as declared by the route discovery index at
        https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: *id001
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                categories:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the category taxonomy.
                tags:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the post_tag taxonomy.
                dv-topic:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the dv-topic taxonomy.
                jetpack_sharing_enabled:
                  type: boolean
                  description: Are sharing buttons enabled?
      security:
      - applicationPassword: []
      - cookieNonce: []
    patch:
      operationId: patch_wp_v2_dv_article_id
      summary: PATCH /wp/v2/dv-article/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/dv-article/(?P<id>[\d]+) (PATCH), as declared by the route discovery index
        at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: *id001
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                categories:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the category taxonomy.
                tags:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the post_tag taxonomy.
                dv-topic:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the dv-topic taxonomy.
                jetpack_sharing_enabled:
                  type: boolean
                  description: Are sharing buttons enabled?
      security:
      - applicationPassword: []
      - cookieNonce: []
    delete:
      operationId: delete_wp_v2_dv_article_id
      summary: DELETE /wp/v2/dv-article/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/dv-article/(?P<id>[\d]+) (DELETE), as declared by the route discovery index
        at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
                  description: Whether to bypass Trash and force deletion.
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/dv-article/{id}/autosaves:
    get:
      operationId: get_wp_v2_dv_article_id_autosaves
      summary: GET /wp/v2/dv-article/(?P<id>[\d]+)/autosaves
      description: WordPress REST route /wp/v2/dv-article/(?P<id>[\d]+)/autosaves (GET), as declared by the route discovery
        index at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: parent
        in: query
        required: false
        schema:
          type: integer
        description: The ID for the parent of the autosave.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      operationId: post_wp_v2_dv_article_id_autosaves
      summary: POST /wp/v2/dv-article/(?P<id>[\d]+)/autosaves
      description: WordPress REST route /wp/v2/dv-article/(?P<id>[\d]+)/autosaves (POST), as declared by the route discovery
        index at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the autosave.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - nab_hidden
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                categories:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the category taxonomy.
                tags:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the post_tag taxonomy.
                dv-topic:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the dv-topic taxonomy.
                jetpack_sharing_enabled:
                  type: boolean
                  description: Are sharing buttons enabled?
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/dv-article/{parent}/autosaves/{id}:
    get:
      operationId: get_wp_v2_dv_article_parent_autosaves_id
      summary: GET /wp/v2/dv-article/(?P<parent>[\d]+)/autosaves/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/dv-article/(?P<parent>[\d]+)/autosaves/(?P<id>[\d]+) (GET), as declared by
        the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: parent
        in: path
        required: true
        description: The ID for the parent of the autosave.
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: The ID for the autosave.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
  /wp/v2/dv-article/{parent}/revisions:
    get:
      operationId: get_wp_v2_dv_article_parent_revisions
      summary: GET /wp/v2/dv-article/(?P<parent>[\d]+)/revisions
      description: WordPress REST route /wp/v2/dv-article/(?P<parent>[\d]+)/revisions (GET), as declared by the route discovery
        index at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: parent
        in: path
        required: true
        description: The ID for the parent of the revision.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by object attribute.
  /wp/v2/dv-article/{parent}/revisions/{id}:
    get:
      operationId: get_wp_v2_dv_article_parent_revisions_id
      summary: GET /wp/v2/dv-article/(?P<parent>[\d]+)/revisions/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/dv-article/(?P<parent>[\d]+)/revisions/(?P<id>[\d]+) (GET), as declared by
        the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: parent
        in: path
        required: true
        description: The ID for the parent of the revision.
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: Unique identifier for the revision.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
    delete:
      operationId: delete_wp_v2_dv_article_parent_revisions_id
      summary: DELETE /wp/v2/dv-article/(?P<parent>[\d]+)/revisions/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/dv-article/(?P<parent>[\d]+)/revisions/(?P<id>[\d]+) (DELETE), as declared
        by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: parent
        in: path
        required: true
        description: The ID for the parent of the revision.
        schema:
          type: integer
      - name: id
        in: path
        required: true
        description: Unique identifier for the revision.
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
                  description: Required to be true, as revisions do not support trashing.
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/dv-cookbook:
    get:
      operationId: get_wp_v2_dv_cookbook
      summary: GET /wp/v2/dv-cookbook
      description: WordPress REST route /wp/v2/dv-cookbook (GET), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - rand
          - menu_order
          - meta_value
          - meta_value_num
          - rand
          - post__in
          - comment_count
          - name
          default: date
        description: Sort collection by post attribute.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - nab_hidden
            - nab_ready
            - nab_scheduled
            - nab_running
            - nab_paused
            - nab_paused_draft
            - nab_finished
            - spam
            - jp-temp-feedback
            - dp-rewrite-republish
            - any
        description: Limit result set to posts assigned one or more statuses.
    post:
      operationId: post_wp_v2_dv_cookbook
      summary: POST /wp/v2/dv-cookbook
      description: WordPress REST route /wp/v2/dv-cookbook (POST), as declared by the route discovery index at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - nab_hidden
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                jetpack_sharing_enabled:
                  type: boolean
                  description: Are sharing buttons enabled?
      security:
      - applicationPassword: []
      - cookieNonce: []
  /wp/v2/dv-cookbook/{id}:
    get:
      operationId: get_wp_v2_dv_cookbook_id
      summary: GET /wp/v2/dv-cookbook/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/dv-cookbook/(?P<id>[\d]+) (GET), as declared by the route discovery index at
        https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: excerpt_length
        in: query
        required: false
        schema:
          type: integer
        description: Override the default excerpt length.
      - name: password
        in: query
        required: false
        schema:
          type: string
        description: The password for the post if it is password protected.
    post:
      operationId: post_wp_v2_dv_cookbook_id
      summary: POST /wp/v2/dv-cookbook/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/dv-cookbook/(?P<id>[\d]+) (POST), as declared by the route discovery index
        at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: &id002
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - nab_hidden
                  - nab_ready
                  - nab_scheduled
                  - nab_running
                  - nab_paused
                  - nab_paused_draft
                  - nab_finished
                  - spam
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                jetpack_sharing_enabled:
                  type: boolean
                  description: Are sharing buttons enabled?
      security:
      - applicationPassword: []
      - cookieNonce: []
    put:
      operationId: put_wp_v2_dv_cookbook_id
      summary: PUT /wp/v2/dv-cookbook/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/dv-cookbook/(?P<id>[\d]+) (PUT), as declared by the route discovery index at
        https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: *id002
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                jetpack_sharing_enabled:
                  type: boolean
                  description: Are sharing buttons enabled?
      security:
      - applicationPassword: []
      - cookieNonce: []
    patch:
      operationId: patch_wp_v2_dv_cookbook_id
      summary: PATCH /wp/v2/dv-cookbook/(?P<id>[\d]+)
      description: WordPress REST route /wp/v2/dv-cookbook/(?P<id>[\d]+) (PATCH), as declared by the route discovery index
        at https://www.davita.com/wp-json/.
      tags:
      - wp-v2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type:
                - object
                - array
        '400':
          description: Invalid parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '401':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
        '404':
          description: No route or resource found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPRestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum: *id002
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
[...]
